<head>
  <base href="/">
</head>
<div class="back-ground">
<div class="goodnight-message">
  <div class="music-controls">
    <button (click)="audioPlayer.play()">Phát nhạc</button>
    <button (click)="audioPlayer.pause()">Tạm dừng</button>
  </div>
  <h2>💤 Anh nhắc Em 💌</h2>
  <p>{{ message }}</p>
  <!-- <ng-template [if]="isClick"> -->
    <button *ngIf="isClick" (click)="sendWishes()">Click vào đây hộ anh nhé 😉</button>
    <div class="keep-smile" *ngIf="!isClick"> Keep your smile :D</div>
    <audio #audioPlayer autoplay loop >
    <source src="../assets/audio/haru.mp3" type="audio/mpeg" />
    </audio>
  <!-- </ng-template> -->
</div>
</div>
